body {
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.rps {
	display: flex;
	justify-content: center;

	font-size: 50px;
}

.question {
	display: flex;
	font-size: 25px;
	margin-left: 50px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin-left: 50px;
	font-size: 20px;
}

.gl {
	margin-left: 50px;
	font-weight: bold;
	font-size: 30px;
}
